body {
  background-color: black;
  font-size: 22px;
  color: seashell;
  opacity: .9;
  font-family: Helvetica;
}

header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  justify-content: flex-start;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
}

.logo img {
  width: auto;
  height: 50px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav ul {
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  text-decoration: underline;
}

.main {
  width: 0 auto;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
}

.main img {
  width: 100%;
  margin: 0 auto;
}

.mission {
  position: relative;
  top: -350px;
  background-color: black;
  text-align: center;
  padding: 10px;
}

.tea {
  position: relative;
  top: -170px;
  background-color: black;
  text-align: center;
  padding: 10px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: 200px;
  width: 300px;
  margin: 20px;
  padding-top: 40px;
}

.image img {
  width: 100%;
}

.image p {
  text-align: center;
}
/* LOCATION */
.location {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  margin-top: 40px;
}

.list {
  display: flex;
  justify-content: center;
  margin: 150px 40px 40px 0px;
  padding-top: 125px;
}

.detail {
  background-color: black;
  text-align: center;
  width: 300px;
  margin: 20px;
}
/* FOOTER */
.footer {
  text-align: center;
}

.copyright {
  margin-left: 20px;
}
